.inventory-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-blue-600);
  height: 100%;
}
.inventory-screen > div {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: 1.325em repeat(4, min-content);
  grid-column-gap: 0.2em;
  position: relative;
}
.inventory-screen > div > .navigation-panel {
  grid-area: 1 / 1 / 2 / 3;
  justify-self: end;
}
.inventory-screen > div > .player-status-panel {
  grid-area: 1 / 1 / 3 / 2;
}
.inventory-screen > div > .inventory-panel {
  grid-area: 2 / 2 / 5 / 3;
}
.inventory-screen > div > .info-panel {
  grid-area: 4 / 1 / 6 / 3;
}

/* Player Status Panel */

.player-status-panel {
  display: grid;
  grid-template-columns: 0.65em auto 0.65em auto 1fr;
  grid-template-rows: 1fr;
}

.player-status-panel > .player-status-panel__decoration:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.player-status-panel > .character-portrait {
  grid-area: 1 / 2 / 2 / 3;
}

.player-status-panel > .player-status-panel__decoration:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}

.player-status-panel > .condition-display {
  grid-area: 1 / 4 / 2 / 5;
}

.player-status-panel__decoration {
  --clr-neutral-900: #000000;
  --clr-neutral-850: #191919;
  --clr-neutral-800: #292929;
  --clr-neutral-700: #3a3a3a;
  --clr-neutral-600: #525252;
  --clr-neutral-500: #636363;
  --clr-neutral-400: #737373;

  display: flex;
  flex-direction: column;
}

.player-status-panel__decoration > div {
  flex: 1;
}

.player-status-panel__decoration:nth-child(1) {
  gap: 0.1em;
  height: 4.75em;
}

.player-status-panel__decoration:nth-child(3) {
  height: 3em;
  align-self: flex-end;
  margin-bottom: 1em;
  gap: 1.75em;
}

.player-status-panel > .condition-display {
  align-self: end;
}

/* Inventory Panel */

.inventory-panel {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: min-content;
  grid-column-gap: 5.375em;
}

.inventory-panel > .equipment-display {
  grid-area: 1 / 1 / 2 / 3;
}

.inventory-panel > .inventory {
  grid-area: 1 / 2 / 2 / 3;
}

/* Info Panel */

.info-panel {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content;
}

.info-panel__decoration {
  grid-area: 1 / 2 / 2 / 3;
  align-self: end;
  margin-bottom: 0.25em;
}

.info-panel__decoration {
  --clr-neutral-900: #000000;
  --clr-neutral-850: #191919;
  --clr-neutral-800: #292929;
  --clr-neutral-700: #3a3a3a;
  --clr-neutral-600: #525252;
  --clr-neutral-500: #636363;
  --clr-neutral-400: #737373;

  height: 1.4em;
  display: grid;
  grid-template-columns: 0.75em auto;
}

.info-panel__decoration > div:nth-child(2) {
  margin: 0.35em 0;
}

.info-panel > .info-box {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 0.65em;
  margin-top: 0.25em;
}
