.bg-brushed-metal {
  position: relative;
  background: var(--clr-neutral-700);
}

/* Have to move all childrens up in the stacking context to avoid the overlay from applying to them too */
.bg-brushed-metal > * {
  position: relative;
  z-index: 1;
}

/* Texture pattern overlay (Gives the brushed metal look) */
.bg-brushed-metal::before {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: color-dodge;

  --texture-pattern-scale: 1; /* How thick/thin you want this pattern to be? Small numbers make the pattern thinner */

  background: repeating-linear-gradient(
      transparent calc(0% * var(--texture-pattern-scale)),
      transparent calc(3% * var(--texture-pattern-scale)),
      hsla(0, 0%, 50%, 0.1) calc(4.5% * var(--texture-pattern-scale))
    ),
    repeating-linear-gradient(
      transparent calc(0% * var(--texture-pattern-scale)),
      transparent calc(2% * var(--texture-pattern-scale)),
      hsla(0, 0%, 0%, 0.03) calc(2.5% * var(--texture-pattern-scale))
    ),
    repeating-linear-gradient(
      transparent calc(0% * var(--texture-pattern-scale)),
      transparent calc(0.6% * var(--texture-pattern-scale)),
      hsla(0, 0%, 50%, 0.15) calc(1.2% * var(--texture-pattern-scale))
    );
}

.bg-brushed-metal--shine-center {
  background: linear-gradient(
    to right,
    var(--clr-neutral-700),
    var(--clr-neutral-600),
    var(--clr-neutral-700)
  );
}

.bg-brushed-metal--shine-left {
  background: linear-gradient(
    to right,
    var(--clr-neutral-600),
    var(--clr-neutral-700)
  );
}

.bg-brushed-metal--shine-right {
  background: linear-gradient(
    to right,
    var(--clr-neutral-700),
    var(--clr-neutral-600)
  );
}

.bg-chrome-light {
  --line-thickness: 7%;

  background: linear-gradient(
    to bottom,
    var(--clr-neutral-900) 0%,
    var(--clr-neutral-900) var(--line-thickness),
    var(--clr-neutral-850) var(--line-thickness),
    var(--clr-neutral-850) calc(var(--line-thickness) * 2),
    var(--clr-neutral-800) calc(var(--line-thickness) * 2),
    var(--clr-neutral-800) calc(var(--line-thickness) * 3),
    var(--clr-neutral-700) calc(var(--line-thickness) * 3),
    var(--clr-neutral-700) calc(var(--line-thickness) * 4),
    var(--clr-neutral-600) calc(var(--line-thickness) * 4),
    var(--clr-neutral-600) calc(var(--line-thickness) * 5),
    var(--clr-neutral-500) calc(var(--line-thickness) * 5),
    var(--clr-neutral-500) calc(var(--line-thickness) * 6),
    var(--clr-neutral-400) calc(var(--line-thickness) * 6),
    var(--clr-neutral-400) calc(100% - (var(--line-thickness) * 6)),
    var(--clr-neutral-500) calc(100% - (var(--line-thickness) * 6)),
    var(--clr-neutral-500) calc(100% - (var(--line-thickness) * 5)),
    var(--clr-neutral-600) calc(100% - (var(--line-thickness) * 5)),
    var(--clr-neutral-600) calc(100% - (var(--line-thickness) * 4)),
    var(--clr-neutral-700) calc(100% - (var(--line-thickness) * 4)),
    var(--clr-neutral-700) calc(100% - (var(--line-thickness) * 3)),
    var(--clr-neutral-800) calc(100% - (var(--line-thickness) * 3)),
    var(--clr-neutral-800) calc(100% - (var(--line-thickness) * 2)),
    var(--clr-neutral-850) calc(100% - (var(--line-thickness) * 2)),
    var(--clr-neutral-850) calc(100% - var(--line-thickness)),
    var(--clr-neutral-900) calc(100% - var(--line-thickness)),
    var(--clr-neutral-900) 100%
  );
}

.bg-chrome-dark {
  --line-thickness: 14.28%;

  background: linear-gradient(
    to bottom,
    var(--clr-neutral-850) 0%,
    var(--clr-neutral-850) var(--line-thickness),
    var(--clr-neutral-800) var(--line-thickness),
    var(--clr-neutral-800) calc(var(--line-thickness) * 2),
    var(--clr-neutral-700) calc(var(--line-thickness) * 2),
    var(--clr-neutral-700) calc(var(--line-thickness) * 3),
    var(--clr-neutral-600) calc(var(--line-thickness) * 3),
    var(--clr-neutral-600) calc(100% - (var(--line-thickness) * 3)),
    var(--clr-neutral-700) calc(100% - (var(--line-thickness) * 3)),
    var(--clr-neutral-700) calc(100% - (var(--line-thickness) * 2)),
    var(--clr-neutral-800) calc(100% - (var(--line-thickness) * 2)),
    var(--clr-neutral-800) calc(100% - var(--line-thickness)),
    var(--clr-neutral-850) calc(100% - var(--line-thickness)),
    var(--clr-neutral-850) 100%
  );
}

.bg-green-1 {
  background: #103110;
  box-shadow: 0.1em 0.1em 0 #081910 inset, -0.1em 0 0 #081910 inset;
}

.bg-green-2 {
  background: #103110;
  box-shadow: 0.1em 0.1em 0 #081910 inset, -0.1em 0 0 #004200 inset;
}

.bg-red-segmented-1 {
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 8.33%,
    #522929 8.33%,
    #522929 16.66%,
    #7b2121 16.66%,
    #7b2121 25%,
    transparent 25%,
    transparent 33.33%,
    #522929 33.33%,
    #522929 41.66%,
    #7b2121 41.66%,
    #7b2121 58.33%,
    #522929 58.33%,
    #522929 66.66%,
    transparent 66.66%,
    transparent 75%,
    #7b2121 75%,
    #7b2121 83.33%,
    #522929 83.33%,
    #522929 91.66%,
    transparent 91.66%,
    transparent 100%
  );
}

.bg-red-segmented-2 {
  background: #103110;
  box-shadow: 0.1em 0.1em 0 #081910 inset, -0.1em 0 0 #081910 inset;
  position: relative;
}

.bg-red-segmented-2::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    #7b2121 0%,
    #7b2121 8.33%,
    transparent 8.33%,
    transparent 25%,
    #7b2121 25%,
    #7b2121 75%,
    transparent 75%,
    transparent 91.67%,
    #7b2121 91.67%,
    #7b2121 100%
  );
}
