/* CUSTOM VARIABLES */

:root {
  --clr-red-400: #ff0000;
  --clr-red-600: #940000;
  --clr-red-800: #440101;
  --clr-neutral-400: #a5a5a5;
  --clr-neutral-600: #555555;
  --clr-neutral-700: #363636;
  --clr-neutral-800: #202020;
  --clr-neutral-900: #000000;
  --clr-olive-800: #5c814e;
  --clr-olive-900: #405836;
  --clr-green-400: #00ff00;
  --clr-green-500: #009100;
  --clr-green-700: #005e00;
  --clr-green-800: #214219;
  --clr-green-900: #0d1a0a;
  --clr-blue-400: #0b0088;
  --clr-blue-500: #07004b;
  --clr-blue-600: #00002b;

  --ff-pixelify: "Pixelify Sans", sans-serif;
  --ff-tiny5: "Tiny5", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLES */

body {
  background: var(--clr-blue-600);
  font-size: 2rem;
}

/* UTILITIES */

.bg-metal-brushed {
  background: repeating-linear-gradient(
      transparent 0%,
      transparent 3%,
      hsla(0, 0%, 50%, 0.1) 4.5%
    ),
    repeating-linear-gradient(
      transparent 0%,
      transparent 2%,
      hsla(0, 0%, 0%, 0.03) 2.5%
    ),
    repeating-linear-gradient(
      transparent 0%,
      transparent 0.6%,
      hsla(0, 0%, 50%, 0.15) 1.2%
    ),
    linear-gradient(to right, var(--clr-neutral-700), var(--clr-neutral-600));
}

/* UI ELEMENTS */

.decoration-type-a {
  background: var(--clr-green-800);
  box-shadow: 0.125em 0.1em 0em var(--clr-green-900) inset;
}

.decoration-type-b {
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 12.5%,
    var(--clr-red-600) 12.5%,
    var(--clr-red-600) 25%,
    transparent 25%,
    transparent 37.5%,
    var(--clr-red-600) 37.5%,
    var(--clr-red-600) 62.5%,
    transparent 62.5%,
    transparent 75%,
    var(--clr-red-600) 75%,
    var(--clr-red-600) 87.5%,
    transparent 87.5%,
    transparent 100%
  );
}

.decoration-type-c {
  background: linear-gradient(
    to bottom,
    var(--clr-neutral-900),
    var(--clr-neutral-600),
    var(--clr-neutral-900)
  );
}

/* UI COMPONENTS */

/* Item Slot */

.item-slot {
  background: linear-gradient(
    to bottom right,
    var(--clr-blue-400) 0%,
    var(--clr-blue-500) 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-slot::after {
  content: "18";
  color: var(--clr-green-500);
  font-size: 1.25em;
  font-family: var(--ff-pixelify);
  text-shadow: 0.025em 0.075em 0em var(--clr-green-700);
  position: absolute;
  bottom: -2.5%;
  left: 25%;
  letter-spacing: 0.1em;
}

.item-slot img {
  width: 3.5em;
}

/* Equipment Slot */

.equipment-slot {
  width: 9em;
  height: 4em;
  padding: 0.25em 0.5em 0.25em 0.15em;
  display: grid;
  grid-template-areas:
    "label decoration"
    "label slot";
  grid-template-columns: auto 1fr;
  grid-template-rows: 0.2em 1fr;
  gap: 0.25em 0.1em;
}

.equipment-slot > img {
  grid-area: label;
}
.equipment-slot > div {
  grid-area: decoration;
}
.equipment-slot > .item-slot {
  grid-area: slot;
}

.equipment-slot > img {
  height: 100%;
  width: 0.75em;
  filter: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(1389%)
    hue-rotate(131deg) brightness(99%) contrast(91%)
    drop-shadow(0.02em 0.02em 0em var(--clr-neutral-400))
    drop-shadow(-0.02em -0.02em var(--clr-neutral-900));
}

.equipment-slot > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
}

/* Health Monitor */

.health-monitor {
  --height-base: 4em;
  --height-notch: 0.6em;
  --height-total: calc(var(--height-base) + var(--height-notch));

  width: 9.25em;
  height: var(--height-total);
  padding: 0.3em 0.7em 0em 0.7em;
  clip-path: polygon(
    0% 0%,
    0% var(--height-total),
    63% var(--height-total),
    70% var(--height-base),
    100% var(--height-base),
    100% 0%
  );
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.health-monitor > div {
  height: 3.5em;
  background-image: url(assets/health-monitor-display-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--clr-neutral-900);
  border: 0.115em solid var(--clr-green-800);
  position: relative;
}

.health-monitor > div > p {
  color: var(--clr-green-500);
  background: var(--clr-neutral-900);
  font-family: var(--ff-tiny5);
  text-align: center;
  text-shadow: 0.025em 0.075em 0em var(--clr-green-800);
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 45%;
}

.health-monitor > img {
  height: 0.6em;
  width: 4.75em;
  filter: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(1389%)
    hue-rotate(131deg) brightness(99%) contrast(91%)
    drop-shadow(0.02em 0.02em 0em var(--clr-neutral-400))
    drop-shadow(-0.02em -0.02em var(--clr-neutral-900));
}

.health-monitor > div > img {
  height: 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 50%, black 100%);
  mask-repeat: no-repeat;
  animation: heartRate 2.5s linear infinite;
}

@keyframes heartRate {
  0% {
    mask-position: -10em;
  }
  100% {
    mask-position: 10em;
  }
}

/* Character Portrait */

.character-portrait {
  width: 4em;
  height: 6em;
  padding: 0.35em 0.35em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.character-portrait > p {
  color: var(--clr-olive-800);
  background: var(--clr-blue-600);
  padding: 0 0.5em;
  font-family: var(--ff-tiny5);
  text-transform: uppercase;
  text-shadow: 0.025em 0.075em 0em var(--clr-olive-900);
  text-align: center;
}

.character-portrait > img {
  height: 100%;
}
