@font-face {
  font-family: 'Teko';
  src: url('../assets/fonts/Teko-Variable.ttf') format('truetype');
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: 'VT323';
  src: url('../assets/fonts/VT323-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
