.character-portrait {
  height: 5.85em;
  width: 4.15em;
  padding: 0.4em 0.4em;
}

.character-portrait > * + * {
  margin-top: 0.25em;
}

.character-portrait__text {
  background: var(--clr-blue-600);
  color: var(--clr-olive-800);
  padding: 0 0.5em;
  font-family: var(--ff-tiny5);
  text-transform: uppercase;
  text-shadow: 0.025em 0.075em 0em var(--clr-olive-900);
  text-align: center;
}

.character-portrait__img {
  height: 100%;
  width: 100%;
}
