.condition-display {
  --height-left-side: 4.525em;
  --height-cutout: calc(var(--height-left-side) * 0.16);
  --height-right-side: calc(var(--height-left-side) - var(--height-cutout));
  --padding-bottom: calc(var(--height-cutout) + 0.25em);

  height: var(--height-left-side);
  width: 8.85em;
  padding: 0.3em 0.6em var(--padding-bottom) 0.6em;
  position: relative;

  clip-path: polygon(
    0% 0%,
    0% var(--height-left-side),
    62.5% var(--height-left-side),
    72.5% var(--height-right-side),
    100% var(--height-right-side),
    100% 0%
  );
}

.condition-display > * + * {
  margin-top: 0.1em;
}

.condition-display__screen {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/ecg-graph-bg-fine.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--clr-neutral-900);
  border: 0.115em solid var(--clr-green-800);
  position: relative;
}

.condition-display__graph {
  height: 100%;
  width: 100%;
  /* "mask-image" allows me to make the ECG graph partially transparent. */
  mask-image: linear-gradient(to right, transparent 0%, black 50%, black 100%);
  mask-repeat: no-repeat;
  /* I'm not really animating the ECG graph, I'm just moving the mask from left to right. */
  animation: heartRate 2.5s linear infinite;
}

@keyframes heartRate {
  0% {
    mask-position: -10em;
  }
  100% {
    mask-position: 10em;
  }
}

.condition-display__text {
  color: var(--clr-green-500);
  background: var(--clr-neutral-900);
  font-family: var(--ff-tiny5);
  text-align: center;
  text-shadow: 0.025em 0.075em 0em var(--clr-green-800);
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 45%;
}

.condition-display__label {
  height: 0.7em;
  width: 4.65em;
  filter: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(1389%)
    hue-rotate(131deg) brightness(99%) contrast(91%)
    drop-shadow(0.02em 0.02em 0em var(--clr-neutral-400))
    drop-shadow(-0.02em -0.02em var(--clr-neutral-900));
  position: absolute;
  bottom: 2.5%;
  left: 8%;
}
