.description-box {
  --clr-text-bg: #0c0c19;
  --clr-text: #cecebd;

  padding: 0.4em;
  height: 5.65em;
  width: 19em;
}

.description-box > div {
  background: var(--clr-text-bg);
  height: 100%;
  padding: 0 0.25em;
}

.description-box > div > p {
  --stroke-width: 0.06em;
  --stroke-color: #3a314a;
  --neg-stroke: calc(var(--stroke-width) * -1);

  color: var(--clr-text);
  font-family: var(--ff-noticia);
  font-size: 1.45em;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-shadow: var(--stroke-width) var(--stroke-width) 0 var(--stroke-color),
    var(--neg-stroke) var(--neg-stroke) 0 var(--stroke-color),
    var(--stroke-width) var(--neg-stroke) 0 var(--stroke-color),
    var(--neg-stroke) var(--stroke-width) 0 var(--stroke-color),
    var(--stroke-width) 0 0 var(--stroke-color),
    var(--neg-stroke) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 var(--neg-stroke) 0 var(--stroke-color);
}
