.health-monitor {
  --height-base: 3.8em;
  --height-notch: 0.725em;
  --height-total: calc(var(--height-base) + var(--height-notch));

  width: 8.85em;
  height: var(--height-total);
  padding: 0.3em 0.6em 0em 0.6em;
  clip-path: polygon(
    0% 0%,
    0% var(--height-total),
    62.5% var(--height-total),
    72.5% var(--height-base),
    100% var(--height-base),
    100% 0%
  );
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.health-monitor > div {
  height: 3.35em;
  background-image: url("../../assets/health-monitor-display-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--clr-neutral-900);
  border: 0.115em solid var(--clr-green-800);
  position: relative;
}

.health-monitor > div > p {
  color: var(--clr-green-500);
  background: var(--clr-neutral-900);
  font-family: var(--ff-tiny5);
  text-align: center;
  text-shadow: 0.025em 0.075em 0em var(--clr-green-800);
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 45%;
}

.health-monitor > img {
  height: 0.65em;
  width: 4.65em;
  filter: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(1389%)
    hue-rotate(131deg) brightness(99%) contrast(91%)
    drop-shadow(0.02em 0.02em 0em var(--clr-neutral-400))
    drop-shadow(-0.02em -0.02em var(--clr-neutral-900));
}

.health-monitor > div > img {
  height: 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 50%, black 100%);
  mask-repeat: no-repeat;
  animation: heartRate 2.5s linear infinite;
}

@keyframes heartRate {
  0% {
    mask-position: -10em;
  }
  100% {
    mask-position: 10em;
  }
}
