.inventory {
  --height-total: 19.75em;
  --width-total: 10em;

  --cutout-height: calc((var(--height-total) / 5) + 0.75em);
  --cutout-width: calc((var(--width-total) / 2) - 0.5em);

  padding: 0.25em 0.5em 0.5em 0.5em;
  height: var(--height-total);
  width: var(--width-total);
  clip-path: polygon(
    0% var(--cutout-height),
    var(--cutout-width) var(--cutout-height),
    var(--cutout-width) 0%,
    100% 0,
    100% 100%,
    0% 100%
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2em 0.25em 1fr 0.25em 0.2em 0.5em repeat(4, 1fr);
}

.inventory > div:nth-child(1),
.inventory > div:nth-child(2),
.inventory > div:nth-child(3),
.inventory > div:nth-child(4),
.inventory > div:nth-child(5),
.inventory > div:nth-child(6) {
  grid-column-start: 2;
}

.inventory > div[class="item-slot"] {
  position: relative;
}
.inventory > div[class="item-slot"]::before {
  --border-inner-size: 0.1em;
  --border-outer-size: calc(var(--border-inner-size) * 2);
  --border-inner-size-neg: calc(var(--border-inner-size) * -1);
  --border-outer-size-neg: calc(var(--border-outer-size) * -1);

  --clr-rust-400: #b54a00;
  --clr-rust-600: #941900;
  --clr-rust-800: #7b0000;

  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  /* The selection box consist of two borders, inner and outer, so most of the borders use two box shadows. */
  box-shadow: /* Left */ var(--border-inner-size-neg) 0 0 0 var(--clr-rust-600),
    var(--border-outer-size-neg) 0 0 0 var(--clr-rust-400),
    /* Top */ 0 var(--border-inner-size-neg) 0 0 var(--clr-rust-600),
    0 var(--border-outer-size-neg) 0 0 var(--clr-rust-400),
    /* Right */ var(--border-inner-size) 0 0 0 var(--clr-rust-600),
    var(--border-outer-size) 0 0 0 var(--clr-rust-800),
    /* Bottom */ 0 var(--border-inner-size) 0 0 var(--clr-rust-600),
    0 var(--border-outer-size) 0 0 var(--clr-rust-800),
    /* Bottom Right */ var(--border-inner-size) var(--border-inner-size) 0 0
      var(--clr-rust-600),
    var(--border-outer-size) var(--border-outer-size) 0 0 var(--clr-rust-800),
    /* Bottom Left */ var(--border-outer-size-neg) var(--border-inner-size) 0 0
      var(--clr-rust-600),
    var(--border-outer-size-neg) var(--border-outer-size) 0 0
      var(--clr-rust-800),
    /* Top Left */ var(--border-outer-size-neg) var(--border-inner-size-neg) 0 0
      var(--clr-rust-600),
    var(--border-outer-size-neg) var(--border-outer-size-neg) 0 0
      var(--clr-rust-400),
    /* Top Right */ var(--border-inner-size) var(--border-inner-size-neg) 0 0
      var(--clr-rust-600),
    var(--border-inner-size) var(--border-outer-size-neg) 0 0
      var(--clr-rust-400),
    var(--border-outer-size) var(--border-outer-size-neg) 0 0
      var(--clr-rust-800);
}
.inventory > div[class="item-slot"]:hover::before {
  opacity: 1;
}
