.inventory {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.inventory .item-slot {
  position: relative;
}

/* 
  On hover I need to move the Item Slot up the stacking context above its siblings, 
  otherwise the selection border (pseudo element) is "cut" at the sides where the 
  Item Slot touches its siblings. 
*/
.inventory .item-slot:hover {
  z-index: 2;
}

.inventory .item-slot::before {
  --border-inner-size: 0.1em;
  --border-outer-size: calc(var(--border-inner-size) * 2);
  --border-inner-size-neg: calc(var(--border-inner-size) * -1);
  --border-outer-size-neg: calc(var(--border-outer-size) * -1);

  --clr-rust-400: #b54a00;
  --clr-rust-600: #941900;
  --clr-rust-800: #7b0000;

  content: "";
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;

  /* The selection box consist of two borders, inner and outer, so most of the borders use two box shadows. */
  box-shadow: /* Left */ var(--border-inner-size-neg) 0 0 0 var(--clr-rust-600),
    var(--border-outer-size-neg) 0 0 0 var(--clr-rust-400),
    /* Top */ 0 var(--border-inner-size-neg) 0 0 var(--clr-rust-600),
    0 var(--border-outer-size-neg) 0 0 var(--clr-rust-400),
    /* Right */ var(--border-inner-size) 0 0 0 var(--clr-rust-600),
    var(--border-outer-size) 0 0 0 var(--clr-rust-800),
    /* Bottom */ 0 var(--border-inner-size) 0 0 var(--clr-rust-600),
    0 var(--border-outer-size) 0 0 var(--clr-rust-800),
    /* Bottom Right */ var(--border-inner-size) var(--border-inner-size) 0 0
      var(--clr-rust-600),
    var(--border-outer-size) var(--border-outer-size) 0 0 var(--clr-rust-800),
    /* Bottom Left */ var(--border-outer-size-neg) var(--border-inner-size) 0 0
      var(--clr-rust-600),
    var(--border-outer-size-neg) var(--border-outer-size) 0 0
      var(--clr-rust-800),
    /* Top Left */ var(--border-outer-size-neg) var(--border-inner-size-neg) 0 0
      var(--clr-rust-600),
    var(--border-outer-size-neg) var(--border-outer-size-neg) 0 0
      var(--clr-rust-400),
    /* Top Right */ var(--border-inner-size) var(--border-inner-size-neg) 0 0
      var(--clr-rust-600),
    var(--border-inner-size) var(--border-outer-size-neg) 0 0
      var(--clr-rust-400),
    var(--border-outer-size) var(--border-outer-size-neg) 0 0
      var(--clr-rust-800);
}

.inventory .item-slot:hover::before {
  opacity: 1;
}
