.item-slot {
  background: linear-gradient(
    to bottom right,
    var(--clr-blue-400) 0%,
    var(--clr-blue-500) 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-slot > div > img {
  width: 3.2em;
}

.item-slot > div {
  position: relative;
}

.item-slot > div::after {
  content: "18";
  color: var(--clr-green-500);
  font-size: 1.15em;
  font-family: var(--ff-pixelify);
  text-shadow: 0.025em 0.075em 0em var(--clr-green-700);
  position: absolute;
  bottom: -20%;
  left: 0%;
  letter-spacing: 0.1em;
}
