.navigation {
  height: 1.15em;
  width: 18.2em;
  padding: 0.1em 0.5em;
}

.navigation__button-group {
  height: 100%;
  padding: 0;
  display: flex;
  gap: 0.2em;
}

.navigation__button-group > * {
  flex: 1;
}

.navigation__button {
  --corner-cutout-size: 0.1em;

  background: var(--clr-neutral-900);
  padding: 0.1em 0.5em;
  cursor: pointer;

  clip-path: polygon(
    0em calc(100% - var(--corner-cutout-size)),
    var(--corner-cutout-size) calc(100% - var(--corner-cutout-size)),
    var(--corner-cutout-size) 100%,
    calc(100% - var(--corner-cutout-size)) 100%,
    calc(100% - var(--corner-cutout-size))
      calc(100% - var(--corner-cutout-size)),
    100% calc(100% - var(--corner-cutout-size)),
    100% var(--corner-cutout-size),
    calc(100% - var(--corner-cutout-size)) var(--corner-cutout-size),
    calc(100% - var(--corner-cutout-size)) 0em,
    var(--corner-cutout-size) 0em,
    var(--corner-cutout-size) var(--corner-cutout-size),
    0em var(--corner-cutout-size)
  );
}

.navigation__button > img {
  height: 100%;
  width: 100%;
}

.navigation__button:hover {
  background: var(--clr-neutral-800);
}

.navigation__button:hover > img {
  filter: brightness(0) saturate(100%) invert(72%) sepia(36%) saturate(0%)
    hue-rotate(180deg) brightness(84%) contrast(72%);
}

.navigation__button:active {
  background: var(--clr-darkred-900);
}

.navigation__button:active > img {
  filter: brightness(0) saturate(100%) invert(36%) sepia(11%) saturate(2674%)
    hue-rotate(314deg) brightness(92%) contrast(83%);
}
